* {
	padding: 0;
	margin: 0;
}

.main {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.nav {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 200%;
	justify-content: flex-start;
	width: 80%;
}

.nav div {
	background-color: black;
	border-radius: 25%;
	color: white;
	margin: 0 2% 10% 2%;
	padding: 5px;
	text-align: center;
	width: 160px;
}

.name {
	display: flex;
	font-family: 'Viga', sans-serif;
	height: 40%;
	justify-content: center;
	width: 100%;
}

.name-letter {
	font-size: 1500%;
	height: 100%;
	position: relative;
}

.about-outer {
	height: 300px;
	position: relative;
	width: 120px;
}

.about {
	align-items: space-around;
	border: black solid 29px;
	border-radius: 40%;
	display: flex;
	flex-wrap: wrap;
	height: 83px;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	top: 82px;
	width: 54px;
}

.about-close {
	margin-top: 2%;
}

.about-listing {
	box-sizing: border-box;
	font-family: viga;
	font-size: 145%;
	padding-top: 3%;
	text-align: center;
}

.about-listing:nth-of-type(1) {
	padding-left: 12%;
	padding-right: 12%;
}

.about-listing:nth-of-type(2) {
	padding-left: 6%;
	padding-right: 6%;
}

.experience {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	font-family: arial;
	height: 200px;
	justify-content: center;
	margin-top: 7%;
}

.biology-wrapper, .cake-wrapper, .wdi-wrapper, .forensics-wrapper, .improv-wrapper, .dna-wrapper {
	position: absolute;
}

.biology-wrapper {
	left: 10%;
}

.cake-wrapper {
	left: 20%;
}

.wdi-wrapper {
	left: 40%;
}

.forensics-wrapper {
	left: 70%;
}

.improv-wrapper {
	left: 60%;
}

.dna-wrapper {
	left: 30%;
}

.biology, .cake, .wdi, .forensics, .improv, .dna {
	height: 0px;
	width: 0px;
}

.biology {
	border-bottom: solid #857a83 110px;
	border-left: solid transparent 110px;
	border-right: solid transparent 130px;
}

.cake {
	border-bottom: solid #5EBEB3 150px;
	border-left: solid transparent 110px;
	border-right: solid transparent 110px;
}

.wdi {
	border-bottom: solid #6EE4D3 150px;
	border-left: solid transparent 180px;
	border-right: solid transparent 150px;
}

.forensics {
	border-bottom: solid #B9F2D2 120px;
	border-left: solid transparent 135px;
	border-right: solid transparent 120px;
}

.improv {
	border-bottom: solid #F1E7DE 180px;
	border-left: solid transparent 110px;
	border-right: solid transparent 110px;
}

.dna {
	border-bottom: solid #57DED1 110px;
	border-left: solid transparent 110px;
	border-right: solid transparent 110px;
}

.biology-text, .cake-text, .wdi-text, .forensics-text, .improv-text, .dna-text {
	bottom: 80px;
	position: relative;
	text-align: center;
}

.biology-text, .cake-text {
	right: 20px;
}

.project-info {
	display: flex;
}

.image-and-links, .blurb {
	box-sizing: border-box;
	height: 50%;
	padding: 5%;
	width: 50%;
}

.projects {
	background-color: black;
	height: 180px;
	margin: 0 15px;
	position: relative;
	top: 40px;
	width: 32px;
}

.close-projects {
	color: white;
	text-align: right;
}

.projects-nav * {
	color: gray;
	display: flex;
	font-size: 200%;
}

.studii, {
	color: white;
}

.project-image img {
	height: 100%;
	width: 100%;
}

.blurb {
	color: white;
	font-size: 200%;
}

.title-wrapper {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
	justify-content: flex-end;
	width: 80%;
}

.about-viewer {
	height: 100vh;
	width: 100%;
}