* {
	padding: 0;
	margin: 0;
}

body {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.nav {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 200%;
	justify-content: flex-start;
	width: 80%;
}

.nav div {
	background-color: black;
	color: white;
	border-radius: 25%;
	margin: 0 2% 10% 2%;
	padding: 5px;
	text-align: center;
	width: 160px;
}

.name {
	display: flex;
	font-family: 'Viga', sans-serif;
	height: 40%;
	justify-content: center;
/*	padding-top: 10%;*/
	width: 100%;
}

/*.last-name {
	font-family: 'Viga', sans-serif;
	font-size: 400%;
}*/

.title-wrapper {
	display:flex;
	justify-content: flex-end;
	width: 80%;
}

.title {
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
}

.name-letter {
	font-size: 1500%;
}

.projects-nav * {
	display: flex;
	font-size: 200%;
	color: gray;
}

.blurb {
	font-size: 200%;
	padding-top: 20%;
	color: white;
}

.projects {
	color: red;
	background-color: black;
	position: relative;
	height: 180px;
	width: 32px;
	top: 40px;

	margin: 0 15px;
}

.about {
	border: black solid 29px;
	border-radius: 40%;
	height: 83px;
	width: 54px;
	position: relative;
	top: 82px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: space-around;
	flex-wrap: wrap;

}

.about-listing {
	box-sizing: border-box;
	font-family: viga;
	font-size: 145%;
	padding-top: 3%;
	text-align: center;
}

.about-listing:nth-of-type(1) {
	/*font-size: 160%;*/
	padding-left: 23%;
	padding-right: 23%;
}

.about-listing:nth-of-type(2) {
/*	font-size: 160%;*/
	padding: 0 18%;

}

.about-listing:nth-of-type(3) {
	padding-left: 7%;
	padding-right: 7%;
}

.experience {
	display: flex;
	flex-wrap: wrap;
	font-family: arial;
}

/*.experience-listing:nth-of-type(1) {
	box-sizing: border-box;
	padding: 7%;
	width: 30%;
}

.experience-listing:nth-of-type(2) {
	box-sizing: border-box;
	padding: 7%;
	width: 30%;
}*/

img {
	height: 50px;
}

.experience-listing {
	box-sizing: border-box;
	padding: 7%;
	text-align: center;
	width: 33%;
}

.studii, {
	color: white;
}

